.card__wrapper {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 45px;
    height: 100%;
    @media (max-width: 1024px) {
      width: 100%;
    }
    .summary__wrapper {
      width: 100%;
      height: calc(25px * 3);
      overflow: hidden;
      line-height: 25px;
      text-align: justify;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      max-height: 10%;
      .summary__section {
        height: 50px;
      }
    }
    .date__box {
      display: flex;
      align-items: center;
      margin: 25px;
      color: #363636;
      opacity: 0.6;
      svg {
        margin-right: 5px;
      }
    }
  }
}
